<div class="main">
  <h2 class="pos"><b>Higher Education Institutions</b></h2>
      <input matInput placeholder="Search Keyword">
    <div class="button-container">
        <button type="button" style="background-color: #173074; color: #f2f3f4" (click)="openmodal()" class="btn btn-primary">Add User</button>
    </div>
    <br>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Institution Name</th>
        <th scope="col">Address</th>
        <th scope="col">Website</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Email</th>
        <th colspan="2" style="text-align: center;" >Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let hei of high">
        <td>{{hei.name}}</td>
        <td>{{hei.address}}</td>
        <td>{{hei.website}}</td>
        <td>{{hei.contact_number}}</td>
        <td>{{hei.email}}</td>
        <td>
          <a class="btn" style="background-color: #93969c; color: #f2f3f4">Edit</a>
        </td>
        <td><a style="background-color: #b40303; color: #f2f3f4" class="btn">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <div class="main2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link">Previous</a></li>
        <li class="page-item"><a class="page-link">1</a></li>
        <li class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
   </div>
</div>